@model IEnumerable<WebLabMVC.Models.Shop>

@{
    ViewData["Title"] = "Магазини";
}

<h1>Магазини</h1>

<p>
    <a asp-action="Create"><a asp-action="Create" class="btn btn-success">Додати магазин</a></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Адреса</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Детальніше</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Редагувати</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
