@model IEnumerable<WebLabMVC.Models.Author>

@{
    ViewData["Title"] = "Автори";
}

<h1>Автори</h1>

<p>
    <a asp-action="Create"><a asp-action="Create" class="btn btn-success">Додати автора</a></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Країна</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Детальніше</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Редагувати</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Видалити</a>
             </td>
        </tr>
}
    </tbody>
</table>
